.DiviRed {
  font-weight: bold;
  color: red;
}

.DiviBlue {
  font-weight: bold;
  color: blue;
}

.ListItemDate {
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 1.25;
}

.ListItemList {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: -0.5px;
  line-height: 1.25;
  align-items: right;
}

.ListItemPay {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 1.25;
}

.ListItemEdit {
  width: 90px;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.ListItemDelete {
  width: 90px;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.ListItemRed {
  margin-bottom: 10px;
  padding: 10px;
  border: dashed 2px;
  border-radius: 10px;
  background-color: rgb(239, 207, 207);

  .ListItemContent {
    font-size: 16px;
    letter-spacing: -1.5px;
    line-height: 1.25;
    display: flex;
    align-items: center;
  }

  .ListItemContentLeft {
    width: 100%;
  }
}

.ListItemBlue {
  margin-bottom: 10px;
  padding: 10px;
  border: dashed 2px;
  border-radius: 10px;
  background-color: rgb(224, 242, 207);

  .ListItemContent {
    font-size: 16px;
    letter-spacing: -1.5px;
    line-height: 1.25;
    display: flex;
    align-items: center;
  }

  .ListItemContentLeft {
    width: 100%;
  }
}

input {
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: 20px;
  font-weight: bold;
}

select {
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}

option {
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: 22px;
  font-weight: bold;
}
